.condiciones-body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 100px;
}

.condiciones-h2 {
    color: #333;
}


.terminos img{
    position: absolute;
    top: 20px; /* Ajusta la posición vertical */
    left: 20px; /* Ajusta la posición horizontal */
    padding: 10px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */ /* Sombra para darle estilo */
    width: 180px; /* Tamaño ajustable del logo */
    height: auto; /* Mantén las proporciones */
}

p {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}