@keyframes contribucionGradientAnimation {
  0% {
    background-color: #210d65;
  }
  50% {
    background-color: #89dc00;
  }
  100% {
    background-color: #210d65;
  }
}

.contribucion-body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  animation: contribucionGradientAnimation 8s ease infinite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Título principal */
.contribucion-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #210d65;
  color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.contribucion-header h1 {
  color: #ffffff;
}

.logo-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-container img {
  position: relative;
  top: -20px;
  border-radius: 8px;
  width: 20%;
  max-width: 250px;
  height: auto;
  z-index: 100;
}

/* Títulos de secciones */
.contribucion-section h2 {
  text-align: center;
  margin: 20px 10px;
  color: rgb(255, 244, 244);
  font-size: 1.8em;
}

/* Contenedor de videos */
.contribucion-video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  margin-bottom: 40px;
}

/* Ajustes para videos locales y YouTube */
.contribucion-video-container video,
.youtube-video {
  width: 100%;
  max-width: 300px; /* Tamaño máximo */
  height: 500px; /* Altura fija */
  border-radius: 8px;
  object-fit: cover; /* Ajusta el contenido dentro del contenedor */
  background-color: #000; /* Evita bordes claros */
  overflow: hidden;
  transition: transform 0.3s ease;
}

.contribucion-video-container video:hover,
.youtube-video:hover {
  transform: scale(1.05);
}

/* Media Queries para diferentes tamaños de pantalla */
@media (max-width: 600px) {
  .contribucion-header h1 {
    font-size: 1.5em;
    padding: 15px;
  }

  .logo-container img {
    width: 100%;
    max-width: 200px;
  }

  .contribucion-video-container video,
  .youtube-video {
    width: 100%;
    height: 400px;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .contribucion-video-container video,
  .youtube-video {
    width: 45%;
    height: 500px;
  }
}

@media (min-width: 1025px) {
  .contribucion-video-container video,
  .youtube-video {
    width: 21.1%;
    height: 490px;
  }
}
