.carousel {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
   
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(240, 240, 255, 0.85));
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    height: auto; /* Se adapta automáticamente al contenido */
    transition: all 0.3s ease;
  }

.container-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: auto; /* Mantén la altura automática para adaptarse al ancho */
    object-fit: cover;
    transition: transform 0.5s ease;
  }

/* Efecto de hover en imágenes */
.slide img:hover {
    transform: scale(1.07);
  }
  

img {
    width: 100%;
    height: auto;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Botones del carrusel */
.dots {
    text-align: center;
    position: relative;
    width: 100%;
    padding: 10px 0;
    top: 1rem;
  }
  
  .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .dot.active {
    background-color: #210D65;
    transform: scale(1.2);
  }





  