/* Variables globales de colores */
:root {
  --primary-color: #89DC00;   /* Verde Merkahorro */
  --secondary-color: #210d65; /* Azul Oscuro Merkahorro */
  --light-color: #f4f4f9;
  --text-color: #333;
  --error-color: #e63946;
  --success-color: #89DC00;
  --background-color: #f0f2f5;
  --border-color: #e0e0e0;
  --hover-color: #76c400;
}

.solicitud-aprobacion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeInSolicitudContainer 1s ease-in-out;
}

@keyframes fadeInSolicitudContainer {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.solicitud-aprobacion-form {
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.377);
  display: flex;
  flex-direction: column;
  animation: fadeInForm 1s ease-in-out;
}

.solicitud-aprobacion-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

@keyframes fadeInForm {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.solicitud-aprobacion-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.solicitud-aprobacion-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(137, 220, 0, 0.5);
  outline: none;
}

.solicitud-aprobacion-submit-button {
  padding: 15px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.solicitud-aprobacion-submit-button:hover {
  background-color: var(--hover-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.solicitud-aprobacion-submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.solicitud-aprobacion-message {
  margin-top: 20px;
  font-size: 16px;
  color: var(--success-color);
}

.solicitud-aprobacion-info {
  margin-top: 20px;
  font-size: 16px;
  color: var(--text-color);
}

.solicitud-aprobacion-info strong {
  font-weight: bold;
}

.solicitud-aprobacion-historial-container {
  margin-top: 20px;
}

.solicitud-aprobacion-historial-header {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.solicitud-aprobacion-historial-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.solicitud-aprobacion-historial-table th, .solicitud-aprobacion-historial-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.solicitud-aprobacion-historial-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
