
.vacantes-container img{
    width: 100%;
    max-width: 300px;
}

.logo {
    box-shadow: 2px 2px 2px #210d65;
}



.vacantes-container {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.vacantes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.vacante-card {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vacante-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px #89dc00;
}

.vacante-card h3 {
    margin-bottom: 10px;
    color: #333;
}

.vacante-card p {
    margin-bottom: 10px;
    color: #555;
    line-height: 1.5;
}

.btn-aplicar {
    background-color: #210d65;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-aplicar:hover {
    background-color: #89dc00;
}

.aplicar-color{
    color: white;
    text-decoration: none;
}

