/* Contenedor principal */
.audio-player-container {
  position: fixed;
  bottom: 2vw; /* Ajusta la posición general */
  right: 2vw;
  z-index: 1000;
  display: flex;
  flex-direction: column; /* Organiza los elementos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  gap: 1vw; /* Espacio entre el chatbot y el botón de audio */
}

/* Contenedor del chatbot */
.chatbot-container {
  position: relative;
  z-index: 1010; /* Asegura que el chatbot esté sobre el botón */
}



/* Botón flotante del chatbot */
.merkahorro-chatbot-icon {
  position: fixed;
  bottom: 4%;
  right: 1%;
  background-color: #210d65;
  color: white;
  border: none;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.merkahorro-chatbot-icon img {
  width: 70%;
  height: 70%;
  object-fit: contain; /* Mantiene la proporción de la imagen */
}

/* Efectos de interacción */
.merkahorro-chatbot-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.merkahorro-chatbot-icon:active {
  transform: scale(0.95);
}

/* Contenedor del chatbot */
.merkahorro-chatbot-container {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 90%;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 70vh;
  max-height: 500px;
  z-index: 1000;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Encabezado del chatbot */
.merkahorro-chatbot-header {
  background-color: #210d65;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.merkahorro-close-chat-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

/* Mensajes del chatbot */
.merkahorro-chat-messages {
  padding: 15px;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f9f9f9;
}

.merkahorro-message {
  padding: 12px;
  border-radius: 8px;
  max-width: 75%;
  word-wrap: break-word;
  line-height: 1.6;
  font-size: 14px;
}

.merkahorro-bot-message {
  background-color: #f1f1f1;
  align-self: flex-start;
}

.merkahorro-user-message {
  background-color: #d1f7d7;
  align-self: flex-end;
}

/* Entrada del mensaje */
.merkahorro-chat-input-container {
  display: flex;
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

.merkahorro-input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.merkahorro-input:focus {
  outline: none;
  border-color: #28a745;
}

/* Botón de enviar */
.merkahorro-button {
  padding: 12px 20px;
  background-color: #89DC00;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.merkahorro-button:disabled {
  background-color: #bbb;
}

.merkahorro-button:hover:not(:disabled) {
  background-color: #210d65;
}

.merkahorro-button:active:not(:disabled) {
  transform: scale(0.95);
}


.chatbot-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.chatbot-menu button {
  background-color: #210d65;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chatbot-menu button:hover {
  background-color: #89DC00;
}
